body {
    background-color: #504a4a;
    color: rgb(216, 212, 212);
}

h2 {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

.superhero-image {
    border: 4px solid yellow;
}

panel > .panel-heading {
    background-color: #F78F3F;
}

.panel {
    background-color: #504a4a;
    border: solid 1px white;
    text-align: center;
    height: 450px;
}

.charDescription {
    color: #E23636;
}

.charImage {
    border-radius: 100%;
}

